@charset "UTF-8";

body {
    margin: 0;
    font-family: "メイリオ","Hiragino Kaku Gothic Pro",sans-serif;
}

/*改行*/
.enter::after {
    content: "\A";
    white-space: pre;
}

/*リンク*/
a {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black
}
a:hover {
    color: blue;
}

@media (max-width:767px) {
    /*ハンバーガーメニュー*/
    .menu-box {
        display: none;
    }
    #nav-drawer {
        position: relative;
        padding: 20px;
        padding-left: 30px;
    }
    .nav-unshown {
        display:none;
    }
    #nav-open {
        display: inline-block;
        width: 30px;
        height: 22px;
        vertical-align: middle;
    }
    #nav-open span, #nav-open span:before, #nav-open span:after {
        position: absolute;
        height: 3px;/*線の太さ*/
        width: 25px;/*長さ*/
        border-radius: 3px;
        background: #fff;
        display: block;
        content: '';
        cursor: pointer;
    }
    #nav-open span:before {
        bottom: -8px;
    }
    #nav-open span:after {
        bottom: -16px;
    }
    #nav-close {
        display: none;
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0;
        transition: .3s ease-in-out;
    }
    #nav-content {
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 90%;
        max-width: 330px;/*最大幅（お好みで調整を）*/
        height: 100%;
        background: #fff;
        transition: .3s ease-in-out;
        -webkit-transform: translateX(-105%);
        transform: translateX(-105%);
    }
    #nav-content ul {
        padding-left: 60px;
    }
    #nav-content li {
        padding: 20px 0;
        font-size: 20px;
        list-style: none;
    }
    #nav-input:checked ~ #nav-close {
        display: block;
        opacity: .5;
    }
    #nav-input:checked ~ #nav-content {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        box-shadow: 6px 0 25px rgba(0,0,0,.15);
    }
    .header-logo-menu{
        display: flex;
        display: -moz-flex;
        display: -o-flex;
        display: -webkit-flex;
        display: -ms-flex;
        flex-direction: row;
        -moz-flex-direction: row;
        -o-flex-direction: row;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        background-color: #000000;
    }
    .logo-area {
        font-size: 30px;
        color: #fff;
        text-align:center;margin:auto;
    }

}


@media (min-width:768px) {
    /*ハンバーガーメニューを非表示*/
    #nav-drawer {
        display: none;
    }
    .logo-area {
        display: none;
    }
    /*メニュー*/
    .menu {
        padding-left: 15px;
        padding-right: 15px;
        background-color: #000000;
    }
    .menu:after {
        content: "";
        display: block;
        clear: both;
    }
    .menu-box:after {
        content: "";
        display: block;
        clear: both;
    }
    .menu-box1 {
        float: left;
        width: auto;
    }
    .menu-box2 {
        float: right;
        width: auto;
    }
    /*タイトル*/
    .title h1 a{
        color: #fff;
        text-decoration: none;
    }
    .title h1 {
        margin: 0;
        font-size: 30px;
    }
    /*ページリンク*/
    .menu ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .menu li a {
        display: block;
        padding: 10px 15px;
        color: #fff;
        font-size: 14px;
        text-decoration: none;
    }
    .menu li a:hover {
    }
    .menu ul:after{
        content: "";
        display: block;
        clear: both;
    }
    .menu li {
        float: left;
        width: auto;
    }
}