/*
お問い合わせアイコン：https://it-ti.work/material/detail/31/
*/
@charset "UTF-8";

body {
    margin: 0;
    font-family: "メイリオ","Hiragino Kaku Gothic Pro",sans-serif;
}

/*改行*/
.enter::after {
    content: "\A";
    white-space: pre;
}


/*メニュー*/
.menu-box {
    padding-left: 15px;
    padding-right: 15px;
}
.menu-box:after {
    content: "";
    display: block;
    clear: both;
}
.menu-box1 {
    float: left;
    width: auto;
}
.menu-box2 {
    float: right;
    width: auto;
}
/*タイトル*/
.title h1 a{
    color: #000000;
    text-decoration: none;
}
.title h1 {
    margin: 0;
    font-size: 30px;
}
/*ページリンク*/
.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu li a {
    display: block;
    padding: 10px 15px;
    color: #000000;
    font-size: 14px;
    text-decoration: none;
}
.menu li a:hover {
    background-color: #000000;
}
.menu ul:after{
    content: "";
    display: block;
    clear: both;
}
.menu li {
    float: left;
    width: auto;
}


/*ホーム*/
.home {
    position: relative;
}
.home p {
    position: absolute;
    color: #ffffff;
    width: 800px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 80px;
    text-align: center;
}
.home-image {
    max-width: 100%;
    vertical-align: bottom;
}


/*プロフィール*/
.profile {
    background-color: red;
}
.profile:after {
    content:"";
    display: block;
    clear: both;
}
.profile p {
    text-align: center;
}
.profile-box1 {
    width: 900px;
    margin: 20px auto;
}
.profile-box1:after {
    content:"";
    display: block;
    clear: both;
}
.profile-box2 {
    width: 500px;
    margin: 20px auto;
}
.profile-box2:after {
    content:"";
    display: block;
    clear: both;
}
.profile-image {
    margin: auto 5px;
    max-width: 35%;
    border-radius: 300px;
    float: left;
}
.profile-text {
    float: right;
}


/*スキル*/
.skill {
    background-color: cyan;
}
.skill-text {
    width: 300px;
    margin: 20px auto;
}
.skill-text p {
    text-align: center;
}
.skill-icon {
    width: 500px;
    margin: 20px auto;
}
.skill-icon-box {
    text-align: center;
}
.skill-icon img {
    width: 20%;
    padding: 0 10px;
}


/*ポートフォリオ*/
.portfolio {
    background-color: green;
}
.btn-app {
    max-width: 300px;
}


/*お問い合わせ*/
.contact {
    background-color: yellow;
}
.contact-text p {
    width: 200px;
    margin: 20px auto;
    text-align: center;
}
.contact-icon {
    width: 500px;
    margin: 20px auto;
}
.contact-icon-box {
    text-align: center;
}
.contact-icon p {
    width: 20%;
    padding: 0 10px;
}
/*Twitter*/
a.icon-twitter {
    display: inline-block;
    text-decoration: none;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin:2px;
    font-size: 25px;
    color:#ffffff;
    border-radius: 30px;
    text-align: center;
    overflow: hidden;
    transition: 0.3s;
}
a.icon-twitter:hover {
    opacity: 0.8;
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}
a.btn-icon-twitter {
    background: #22b8ff;
}
/*GitHub*/
a.icon-github {
    display: inline-block;
    text-decoration: none;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin:2px;
    font-size: 25px;
    color:#ffffff;
    border-radius: 30px;
    text-align: center;
    overflow: hidden;
    transition: 0.3s;
}
a.icon-github:hover {
    opacity: 0.8;
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}
a.btn-icon-gihtub {
    background: #22b8ff;
}
/*メール*/
a.icon-mail
{
  display: inline-block;
  text-decoration: none;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin: 2px;
  font-size: 25px;
  color: #ffffff;
  border-radius: 30px;
  text-align: center;
  overflow: hidden;
  transition: 0.3s;
}

a.icon-mail:hover
{
  opacity: 0.8;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}
a.btn-circle-mail
{
  background: #22b8ff;
}
/*ブログ*/
a.icon-blog
{
  display: inline-block;
  text-decoration: none;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin: 2px;
  font-size: 25px;
  color: #ffffff;
  border-radius: 30px;
  text-align: center;
  overflow: hidden;
  transition: 0.3s;
}
a.icon-blog:hover
{
  opacity: 0.8;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}
a.btn-circle-blog
{
  background: #22b8ff;
}


/*フッター*/
.references {
    width: 300px;
    margin: 20px auto;
}
.references p {
    text-align: center;
}
.references a {
    text-align: center;
}
.copyright {
    width: 320px;
    margin: 20px auto;
}
.copyright p {
    text-align: center;
}