@charset "UTF-8";

body {
    font-family: "メイリオ","Hiragino Kaku Gothic Pro",sans-serif;
}

.home {
    
}
.home-image {
    max-width: 100%;
    vertical-align: bottom;
}
.profile {
    background-color: red;
}
.profile-image {
    max-width: 20%;
    border-radius: 300px;
}
.skill {
    background-color: blue;
}
.portfolio {
    background-color: green;
}
.contact {
    background-color: yellow;
}
